<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.WiWe"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".Contents1"
            android:exported="false" />
        <activity
            android:name=".ContentsMain"
            android:exported="false" />
        <activity
            android:name=".ChecklistFinalResultActivity"
            android:exported="false" />
        <activity
            android:name=".Checklist3ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ChecklistC2Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistC1Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB30Activity"
            android:exported="false" />
        <activity
            android:name=".Checklist2ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB13Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB12Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB11Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity11"
            android:exported="false" />
        <activity
            android:name=".ChecklistB10Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB9Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB8Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB7Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB6Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB5Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB4Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB2Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistB1Activity"
            android:exported="false" />
        <activity
            android:name=".Checklist3ResultDialog"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity" />
        <activity
            android:name=".Checklist2ResultDialog"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity" />
        <activity
            android:name=".ChecklistResultDialog"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/round_dialog_activity" />
        <activity
            android:name=".ChecklistMainActivity"
            android:exported="false" />
        <activity
            android:name=".Checklist1ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA11Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA10Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA9Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA8Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA7Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA6Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA5Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA4Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA3Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA2Activity"
            android:exported="false" />
        <activity
            android:name=".ChecklistA1Activity"
            android:exported="false" />
        <activity
            android:name=".ChagneMemo"
            android:exported="false" />
        <activity
            android:name=".OnewMemo"
            android:exported="false" />
        <activity
            android:name=".MemoList"
            android:exported="false" />
        <activity
            android:name=".CalendarList"
            android:exported="false"
            android:label="@string/title_activity_calendar_list" />
        <activity
            android:name=".CreateCal"
            android:exported="false" />
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".Deleteuser"
            android:exported="false" />
        <activity
            android:name=".passchange"
            android:exported="false" />
        <activity
            android:name=".nickchange"
            android:exported="false" />
        <activity
            android:name=".Userinfochange"
            android:exported="false" />
        <activity
            android:name=".Myreview"
            android:exported="false" />
        <activity
            android:name=".Myboards"
            android:exported="false" />
        <activity
            android:name=".Mypage"
            android:exported="false" />
        <activity
            android:name=".SearchCommunity"
            android:exported="false" />
        <activity
            android:name=".ChangeCommunity"
            android:exported="false" />
        <activity
            android:name=".writecommunity"
            android:exported="false" />
        <activity
            android:name=".Searchcommunity"
            android:exported="false" />
        <activity
            android:name=".readcommunity"
            android:exported="false" />
        <activity
            android:name=".Recyclerviewcommunity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".WiWemain"
            android:exported="false" />
        <activity
            android:name=".LoginResponse"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>